.TrackList {
  /* padding: 0.5em; */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  position: relative;
}

.TrackList::before {
  content: '';
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid lightgray;
  /* background-color: red; */
  /* height: 20px;
  width: 20px; */
  position: absolute;
  top: -20px;
  left: 0;
}

.TrackList-message {
  padding: 1em;
  font-weight: bold;
  color: gray;
}
