:root {
  --blue: #2aa3ef;
  --skyblue: #50b4f1;
  --light-blue: #e8f5fd;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* text-align: center; */
}

.App {
  width: 100vw;
  height: 100vh;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
